<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
  <div class="container">
    <div class="container-fluid">
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <ul class="nav nav-pills me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/localizacoes" routerLinkActive="active">Localizações</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ativos" routerLinkActive="active">Ativos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/locais" routerLinkActive="active">Locais</a>
          </li>
          <div class="dropdown">
            <a (click)="naoAvancar($event)" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" [routerLink]="this.ehCadastro ? this.rotaAtual : null " routerLinkActive="active">
              Cadastro
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/cadastro/local" routerLinkActive="active">Local</a></li>
              <li><a class="dropdown-item" routerLink="/cadastro/ativo" routerLinkActive="active">Ativos</a></li>
              <li><a class="dropdown-item" routerLink="/cadastro/entrada" routerLinkActive="active">Entrada</a></li>
              <li><a class="dropdown-item" routerLink="/cadastro/saida" routerLinkActive="active">Saida</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
    <a class="navbar-brand" href="#">Hidden brand</a>
  </div>
</nav>