<section class="container">
  <h2>Locais</h2>

  <div class="mb-3">
    <input type="string" [(ngModel)]="nomePesquisa" id="nomePesquisa" class="form-control" placeholder="Digite um nome para pesquisar...">
  </div>
  <p>{{nomePesquisa}}</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>TAG ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let local of (listaLocais | filter: 'nome' : nomePesquisa )">
        <td>{{local.id}}</td>
        <td>{{local.nome}}</td>
        <td>{{local.id_local}}</td>
      </tr>
    </tbody>
  </table>
</section>