<section class="container">
  <h2>Localizações</h2>

  <div class="mb-3 row">
    <div class="col-sm-6">
      <input type="string" [(ngModel)]="nomePesquisa" id="nomePesquisa" class="form-control" placeholder="Digite um {{filtroPesquisa}} para pesquisar...">
    </div>
    <div class="col-sm-3">
      <select class="form-select" [(ngModel)]="filtroPesquisa" name="campoPesquisa" id="campoPesquisa" aria-placeholder="selecione um filtro">
        <option value="ativo" selected>Nome do Ativo</option>
        <option value="local">Nome do Local</option>
        <option value="tag_ativo">Tag do Ativo</option>
        <option value="tag_local">Tag do Local</option>
        <option value="data_entrada">Entrada</option>
        <option value="data_saida">Saída</option>
      </select>
    </div>
    <div class="col-sm-3">
      <select class="form-select" [(ngModel)]="entradaSaida" name="entradaSaida" id="entradaSaida" aria-placeholder="Entrada / Saída">
        <option value="entrada" selected>Somente Entrada</option>
        <option value="saida">Somente Saídas</option>
        <option value="entradaSaida">Entradas e Saídas</option>
      </select>
    </div>
  </div>
  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>ATIVO</th>
          <th>LOCAL</th>
          <th>DATA DA ENTRADA</th>
          <th>ULTIMA LOCALIZACAO</th>
          <th>DATA DA SAIDA</th>
          <th>TAG LOCAL</th>
          <th>TAG ATIVO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let localizacao of (listaLocalizacoes | filter: filtroPesquisa: nomePesquisa | filter: 'data_saida' : entradaSaida )">
          <td>{{localizacao.id}}</td>
          <td>{{localizacao.Ativo.nome}}</td>
          <td>{{localizacao.Local.nome}}</td>
          <td>{{localizacao.data_entrada | date: "dd/MM/yyyy : HH:mm:ss"}}</td>
          <td>{{localizacao.ultima_localizacao}}</td>
          <td>{{localizacao.data_saida | date: "dd/MM/yyyy : HH:mm:ss"}}</td>
          <td>{{localizacao.tag_local}}</td>
          <td>{{localizacao.tag_ativo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="false">
    {{ (listaLocalizacoes | filter: filtroPesquisa: nomePesquisa | filter: 'data_saida' : entradaSaida)}}
  </div>


  <div class="row mt-5">
    <div class="col-6 align-content-center">
      <p>Total de linhas: <strong>{{ (listaLocalizacoes | filter: filtroPesquisa: nomePesquisa | filter: 'data_saida' : entradaSaida)?.length || 0 }}</strong></p>
    </div>
    <div class="col-6 update-col">
      <img (click)="edge()" src="https://ogrfmpvyjnybliwzlqsl.supabase.co/storage/v1/object/public/images//upload-de-arquivo.png" alt="upload do log atual para o supbase">
    </div>
  </div>

</section>