<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink="./local" routerLinkActive="active">Local</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./ativo" routerLinkActive="active">Ativo</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<router-outlet></router-outlet>